@()(implicit request: RequestHeader)

@main("Practice-SQL") {
  <div id="root" class="container-fluid"></div>

  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="loginRoute" 
         value="@controllers.routes.UserController.login">
  <input type="hidden" id="logoutRoute" 
         value="@controllers.routes.UserController.logout">
  <input type="hidden" id="createUserRoute" 
         value="@controllers.routes.UserController.create">
  <input type="hidden" id="changePasswordRoute" 
         value="@controllers.routes.UserController.changePassword">
  <input type="hidden" id="createChallengeRoute" 
         value="@controllers.routes.ChallengeController.create">
}